target/
!kimios-webclient2/src/main/webapp/ext/src/fx/target
*.class
.settings/
.classpath
.project
*.iml
.idea/*
Thumbs.db
.DS_Store
kimios-home/server/txlogs
rebel.xml
kimios-server-war/profiles/dev/*
*.gradle
gradle*
gradle/*
generated/
hs_err_pid*
kimios-test/**/*.jar
kimios-bundle-builder/apache-tomcat*.zip
kimios-utils/src/main/java/org/kimios/utils/version/Version.java
.credentials
local_aspose_repo/
*/local_aspose_repo/
!local_aspose_repo
!kimios-convert/local_aspose_repo
