target/
!kimios-webclient2/src/main/webapp/ext/src/fx/target
*.class
.settings/
.classpath
.project
*.iml
.idea/*
Thumbs.db
.DS_Store
kimios-home/server/txlogs
rebel.xml
kimios-server-war/profiles/dev/*
*.gradle
gradle*
gradle/*
generated/
