<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Kimios - Document Management System Software
  ~ Copyright (C) 2008-2015  DevLib'
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as
  ~ published by the Free Software Foundation, either version 2 of the
  ~ License, or (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU Affero General Public License for more details.
  ~ You should have received a copy of the GNU Affero General Public License
  ~ aong with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration scan="true" scanPeriod="30 seconds">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>



    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>


    <!-- third parties dependencies -->
    <logger name="com.atomikos" level="ERROR" />
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.hibernate" level="INFO" />
    <logger name="org.apache.cxf" level="ERROR" />

    <!-- kimios -->
    <logger name="kimios" level="INFO" />
    <logger name="org.kimios" level="INFO" />
    <logger name="org.kimios.extension" level="INFO" />
    <logger name="org.kimios.kernel.events" level="INFO" />
    <logger name="org.kimios.kernel.index" level="INFO" />
    <logger name="org.kimios.kernel.events.interceptors" level="INFO" />

</configuration>